.backvideo{
 position: relative;
} 
.backvideo video{
    z-index: -1;
    height: 100vh;
    width: 100%;
    background-position: absolute;
    object-fit: cover;
   
}
.header{
  position: absolute;
  margin-top: -800px;
  
  z-index: 2;
  color: white;
  width: 100%;
  
}
.paragraph1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 1;
    margin-top: -750px;
    margin-left: 50px;
    color:white;
    align-items: center;
}
.paragraph1 P{
    margin-top: 150px;
}
.paragraph1 pre{
    font-size: 20px;
    margin-left: -105px;
    margin-top: -20px;
} 
.paragraph1 h1{
    font-size: 50px;
}
.paragraph1 h2{
    font-size: 40px;
    margin-top: -45px;
}
.button{
    background-color: white;
    border: 1px solid white;
    border-width: 10px;
    color: black;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    margin-top: -30px;
    z-index: 1;
}
.fa{
    width: 50px;
    color: white;
   margin-top: 90px;  
}
.imgsize{
  width: 35px;
  margin-right: 15px;
}
.socialbut{
  position: absolute;
  bottom: -300px;
  left:0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialbut li{
  list-style: none;
}
.socialbut li a{
  transform: scale(0.5);
  transition: 0.5s;
}
.socialbut li a:hover{
  transform: scale(0.5) translateY(-25px);
}




